bootstrap/cache/services.php
bootstrap/ssr/*

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor/**/test*
vendor/**/tests*
vendor/**/Tests*

**/*node_modules

**.git
.idea
.github
.devcontainer
!.git
**.gitignore
**.gitattributes
**.sass-cache
*.env*

*.config.js
!vite.config.js
!postcss.config.js
!tailwind.config.js
?ulpfile.js
?untfile.js

phpunit.xml
readme.md
phpspec.yml
.phpstorm.meta.php
_ide_helper.php
pint.json
.prettierrc.json
.editorconfig

Dockerfile
docker-compose.yml
run
run.ps1